@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,500&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}
*:focus{
	outline: none !important;
	box-shadow: none !important;
}
body{
	overflow-x: hidden;
}
.top-header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10px;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 1;
}
.logo{
	width: 30%;
}
.search-box{
	width: 40%;
	position: relative;
}
.search-box input{
	margin: 0 auto !important;
}
.search-icon{
	position:absolute;
	top:5px;
	right: 60px;
	cursor: pointer;
	color: #1eb357;
	font-size: 24px;	
}

.right-box{
	width: 30%;
	text-align: right;
	padding: 0px 20px;
}
.search-box input{
	width: 500px;
}
nav{
	background: #1eb357!important;
	margin-top: 100px !important;
	position: relative;
}
.dropdown-menu{
	position: absolute !important;
	top: 50px !important;
	position: relative;
}
.up{
	position: absolute;
	top: -20px;
	left: 15px;
	color: #fff;
}
nav .nav-link{
	color: white !important;
	margin: 0px 8px;
	font-weight: 300;
	font-size: 18px;
	transition: 0.5s;
}
.navbar-brand{
	color: #fff !important;
	font-weight: 700;
}
nav .nav-link:hover{
	color: #FF3C41 !important;
}
.main{
	display: flex;
	margin-top: 160px;
}
.menu-left{
	min-width: 250px;
	padding: 15px;
	width: 250px;
	height: 100vh;
	overflow-y: scroll;
	background: #fff;
	transition: 0.5s;
}
#menu-icon{
	position: fixed;
	top: 305px;
	left: 8px;
	font-size: 14px;
	background: #0c7534;
	padding: 4px 15px;
	color: #fff;
	cursor: pointer;
	display: none;
	z-index: 100;
}

.menu-left .nav-item{
	border: 1px solid #ddd !important;
}
.menu-left .nav-link{
	color: #041C32;
	transition: 0.5s;
}
.menu-left .nav-link:hover{
	color: #30D46F;
}
/* scroll bar  */
.menu-left::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/* border-radius: 10px; */
	background-color: #F5F5F5;
}
.menu-left::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}
.menu-left::-webkit-scrollbar-thumb
{
	/* border-radius: 10px; */
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #30D46F;
}
.menu-content{
	width: 90%;
	overflow-x: hidden;
}
.menu-left h4{
	color:#2E4C6D;
}
.menu-content p{
	line-height: 30px;
	word-spacing: 5px;
}
.first-letter{
	color:black;
	font-size: 24px;
	font-weight: 700;
}
@media only screen and (max-width:768px){
	.menu-content{
		width:100%;
	}

	#menu-icon{
		display: block;
	}
	.menu-left{
		position: fixed;
		/* display: none; */
		min-width: 0px;
		padding: 0px;
		width: 0px;
		z-index: 1;
		width: 0px;
	}

}
.side-navlink .nav-link{
 	color: black;
	 margin: 0;
	 padding: 5px 10px;
}
.side-navlink h4{
	font-weight: 700;
	font-size: 30px;
}

footer{
	width: 100%;
	height: auto;
	/* background: #040303; */
	background: #060606;
}
footer h4{
	color: honeydew;
	margin-bottom: 20px;
}
footer p{
	color: #BFBFBF;
	line-height: 25px;
}

footer .nav-link{
	margin: 0px !important;
	padding: 0px !important;
	color: #BFBFBF;
	transition: 0.5s;
}
footer .nav-link:hover{
	color: #FF3C41 !important;
}
footer i{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}

.social-box{
	width: 45%;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.social-icon{
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: 0.5s ease;
	border-radius: 3px;
}

.social-icon:hover{
	background: #FF3C41;
	border: none;
}

.social-icon:hover i{
	color: #fff;
}


/* responsive coding */

@media only screen and (max-width: 768px){
	nav{
		top: 130px !important;
	}
	.top-header{
		flex-direction: column;
	}
	.logo{
		width: 100%;
		padding: 20px 0px;
		display: flex;
		justify-content: center;

	}
	.search-box{
		width: 100%;
	}
	.right-box{
		width: 100%;
		padding: 15px 0px;
		text-align: center;
	}
	.search-box input{
		width: 370px;
	}
	.main{
		margin-top: 285px !important;
	}
}