@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*:focus{
	outline: none !important;
	box-shadow: none !important;
}
h1,h2,h3,h4,h5{
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
}
body{
	overflow-x: hidden;
}
/* start top header coding */
.top-header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10px;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 1;
}
.logo{
	width: 30%;
}
.search-box{
	width: 40%;
	margin: 0 auto;
	position: relative;
}
.search-icon{
	position:fixed;
	top:5px;
	right: 20px;
	cursor: pointer;
	color: #1eb357;
	font-size: 24px;	
}
.search-box input{
	border-radius: 50px !important;
	border:none !important;
	border: 2px solid #5FB457 !important;
}
.right-box{
	width: 30%;
	text-align: right;
	padding: 0px 20px;
}

/* end top header coding */

/* start navbar coding */
nav{
	background: #06713D!important;
	margin-top: 99px !important;
	position: relative;
}
.dropdown-menu{
	position: absolute !important;
	top: 50px !important;
	position: relative;
}
.up{
	position: absolute;
	top: -20px;
	left: 15px;
	color: #fff;
}
nav .nav-link{
	color: white !important;
	margin: 0px 5px;
	font-size: 18px;
	transition: 0.5s;
}
.navbar-brand{
	color: #fff !important;
	font-weight: 700;
}
nav .nav-link:hover{
	color: #FF3C41 !important;
}

/* end navbar coding */

/* start main content coding */
.main{
	display: flex;
	margin-top: 160px;
	position: relative;
}
.menu-left{
	min-width: 200px;
	padding: 15px;
	width: 250px;
	height: auto;
	background: #fff;
	transition: 0.5s;
}
#menu-icon{
	position: fixed;
	top: 360px;
	left:0px;
	font-size: 24px;
	background: #09ce55;
	padding: 5px 12px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	display: none;
	z-index: 100;
}
.menu-left ul{
	border: 1px solid #ddd;
}
.menu-left .nav-item{
	border: none !important;
	margin-bottom: 2px !important;
	border-bottom: 1px solid #ddd !important;
}
.menu-left .nav-link{
	color: #6C9600;
	transition: 0.5s;
}

.menu-content{
	width: 90%;
	overflow-x: hidden;
}
.menu-left h4{
	color:#2E4C6D;
}
.menu-content p{
	line-height: 30px;
	word-spacing: 5px;
}
.first-letter{
	color:black;
	font-size: 24px;
	font-weight: 700;
}
.menu-right ul{
	border:none !important;
}
.menu-right ul li a{
	color: #6C9600;
}

/* end main content coding */

/* scroll bar  */
.menu-left::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/* border-radius: 10px; */
	background-color: #F5F5F5;
}
.menu-left::-webkit-scrollbar{
	width: 4px;
	background-color: #F5F5F5;
}
.menu-left::-webkit-scrollbar-thumb
{
	/* border-radius: 10px; */
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ddd;
}

/* end scrollbar coding */

/* start footer coding */
footer{
	width: 100%;
	height: auto;
	background: #0c0c0c;
	font-family: 'Source Code Pro', monospace;
}
footer h4{
	color: honeydew;
	margin-bottom: 20px;
}
footer p{
	color: #BFBFBF;
	line-height: 25px;
}

footer .nav-link{
	margin: 0px !important;
	padding: 0px !important;
	color: #BFBFBF;
	transition: 0.5s;
}
.nav-link:hover{
	color: #f1484e !important;
}
footer i{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}

.social-box{
	width: 45%;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.social-icon{
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: 0.5s ease;
	border-radius: 3px;
}

.social-icon:hover{
	background: #FF3C41;
	border: none;
}

.social-icon:hover i{
	color: #fff;
}

/* end footer coding */

/* start responsive coding */

@media only screen and (max-width: 768px){
	nav{
		top: 130px !important;
	}
	.top-header{
		flex-direction: column;
	}
	.logo{
		width: 100%;
		padding: 20px 0px;
		display: flex;
		justify-content: center;

	}
	.search-box{
		width: 100%;
	}
	.right-box{
		width: 100%;
		padding: 15px 0px;
		text-align: center;
	}
	.main{
		margin-top: 285px !important;
	}
	.menu-content{
		width:100%;
	}

	#menu-icon{
		display: block;
	}
	.menu-left{
		overflow-y: scroll;
		position: fixed;
		min-width: 0px;
		height: 100vh;
		padding: 0px;
		width: 0px;
		z-index: 1;
		width: 0px;
	}
}

/* end responsive coding */